@import url("_core/css/temas_colores_fuentes.css");
/* PRIMER COMMIT*/
body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


/*Estilos para carrousel*/

#container-carrousel{
   background-color: var(--light-color-acento-2);
}

#carouselExampleIndicators{
   padding: 5px 0px;
   
}

.carousel-inner img{
   max-width: 50vh;
   max-height: 50vh;
   margin: 0 auto;
   object-position: center;
   object-fit: contain;
}

/*////////////////////////////////*/

#encabezado-principal {
   background-color: var(--light-color-fondo);
   color: var(--light-color-texto);
   font-family: 'Maitree';
}

#encabezado-principal #header-container-columnas{
   display: flex;

}


#encabezado-principal #header-container-columnas div{
   display: flex;

   padding: 1em;
}


#encabezado-principal #header-container-columnas #header-columna-search{
   width: 90%;
 }

#encabezado-principal #header-container-columnas #header-columna-search #container-span-input{
   width: 100%;
   border-bottom: 1px black solid;

   padding: 0;
   display: flex;
   align-items: center;
}

#encabezado-principal #header-container-columnas #header-columna-search #search{
  width: 100%;
  background: var(--light-color-fondo);
  border: none;
   padding: 15px;
}

#encabezado-principal #header-container-columnas .header-container-columna .header-container-columna-icons a{
  color: black;
}
#encabezado-principal #header-container-columnas .header-container-columna .header-container-columna-icons a:hover{
   color: var(--light-color-fondo);
   text-shadow: 0 0 10px var(--light-color-acento-1), 0 0 20px var(--light-color-acento-1),  0 0 30px var(--light-color-acento-1) ;
 }



#encabezado-principal #header-container-columnas #header-columna-search #search:focus{
   outline: none;
 }









#navegacion-categoria {
   background-color: var(--light-color-fondo);

   
   font-family: 'Nunito';
   display: flex;
   justify-content: space-between;
}

#navegacion-categoria .tab-categoria{
   background: var( --light-color-fondo);
   outline: 1px solid var(--light-color-acento-1);
   color:var(--light-color-acento-3) ;
   text-align: center;
   padding: 2em;
   width: 20%;
   transition: color .5s;
   transition: background .7s;  
}

#navegacion-categoria .tab-categoria:hover {

   background-color: var(--light-color-acento-1);
   color: var(--light-color-fondo);
   font-weight: 800;
   scale: 1.09;
}


/* PRIMER COMMIT*/

#navegacion-categoria a{
   color: var(--dark-color-texto);
   text-decoration: none;
}

/* Estilo de la seccion FILTROS */

#seccion-filtros-container-columnas{
   font-family: 'Nunito';
   background-color: var(--light-color-acento-2);
   display: flex;
   justify-content: space-around;
   padding: 10px;
   color: var(--light-color-fondo);
   
}

.filtro-columna{
   display: flex;
   padding: 20px;
   transition: color 0.5s;
   justify-content: center;
}

.flecha-arriba{
   position: relative;
   top: 5px;
   left: 2.5px;
}

#seccion-filtros-container-columnas-columna-1{

   display: flex;
   flex-direction: column;
   text-align: center;
   padding: 0;
}

#seccion-filtros-container-columnas-columna-1 h2{

   margin-top: 0;
   margin-bottom: 10px;
   font-size: 20px;
   font-weight: bold;

}

#seccion-filtros-container-columnas-columna-1 h3{

   margin: 0;
   transition: color 0.5s;
   font-size: 15px;
   font-weight: bold;

}

#seccion-filtros-container-columnas-columna-1 h3:hover,
#seccion-filtros-container-columnas-columna-2:hover, 
#seccion-filtros-container-columnas-columna-3:hover, 
#seccion-filtros-container-columnas-columna-4:hover,
#seccion-filtros-container-columnas-columna-5:hover{

   cursor: pointer;
   color: white;
}

/*Estilos de las categorias*/

#seccion-categoria {
   background-color: var(--light-color-acento-3);
   font-family: 'Anaheim';
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding: 30px 0px;
   
}

.articulo-categoria {
  
   max-width: 300px;
   max-height: auto;
   border: solid 2px var(--light-color-fondo);
   background-color: var(--light-color-acento-1);
   color: var(--light-color-fondo);
   display: flex;
   flex-direction: column;
   margin: 10px;
   border-radius: 10px;
   text-align: center;
   transition: all .5s;
}

.articulo-categoria-mouseenter{ /*para js*/
   scale: 1.03;
}

.articulo-categoria-mousedown{ /*para js*/
   border: solid 2px var(--light-color-acento-2);
   background-color: var(--light-color-fondo);
   color: var(--light-color-acento-2);
}

.articulo-categoria .detalle-articulo{
   padding: 10px;
}

.articulo-categoria .header-articulo p{
/*echo para ver las dimensiones de la caja*/
   outline: rgba(255, 255, 255, 0) 2px solid;
}


.articulo-categoria .detalle-articulo h4 {
   font-family: 'Nunito';
   font-size: 16px;
   font-weight: bold;
   margin: 0px;
}

.articulo-categoria .detalle-articulo p {
   /*echo para ver las dimensiones de la caja*/
   outline: rgba(255, 255, 255, 0) 2px solid;
   margin: 0px;
}

.item-valor-nombre, .item-valor-descripcion{
   margin-top: 16px;
}

.item-valor-descripcion{
   padding: 0px 6px;
}

.header-articulo {
   font-weight: bold;
}
   /*Estilos footer*/




#footer-principal {
   background-color: var(--light-color-texto);
   color: rgba(255, 255, 255, 0.817);
   font-family: 'Maitree';
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 3em;
}

#footer-principal .footer-principal-div {
   width: 400px;
   height: 400px;
   outline: var(--light-color-acento-2) 1px solid;
   margin: 1em;
   padding: 10px 2em;
   transition: flex-grow .5s;
}

#footer-principal .footer-principal-div h3 {
   padding: .5em 0;
   color: var(--light-color-acento-2);
}



#footer-principal .footer-principal-div div p {  
   font-size: 1.2em;
}
#footer-principal .footer-principal-div div p a{  
   color: rgba(255, 255, 255, 0.817);
   text-decoration: none;
   transition: all .3s;
}


#footer-principal #footer-central div {
   display: flex;
   justify-content: center;
   padding: .7em;
}



#footer-principal #footer-central div a{
   color: rgba(255, 255, 255, 0.817);
   margin-left: 1.2em;
   margin-right: 1.2em;
   transition: scale .3s;
}


#footer-principal #footer-central div i{
   font-size: 4em;

}


#qr-code {
   width:200px;
   height:200px;
}



/* PSEUDOCLASES */

/* Hover*/
#footer-principal #footer-central div a:hover{
   color: var(--light-color-acento-2);
   scale: 1.5;

}

#footer-principal .footer-principal-div div p a:hover{  
   color: var(--light-color-acento-2);
   font-size: 1.22em;
  
}


#footer-principal .footer-principal-div:hover {

   flex-grow: .7;

}