@import url("_core/css/temas_colores_fuentes.css");
/* PRIMER COMMIT*/
body{
   margin: 0;
   padding: 0;
}

#encabezado-principal {
   background-color: var(--light-color-fondo);
   color: var(--light-color-texto);
   font-family: 'Maitree';
}

#encabezado-principal #header-container-columnas{
   display: flex;

}


#encabezado-principal #header-container-columnas div{
   display: flex;

   padding: 1em;
}


#encabezado-principal #header-container-columnas #header-columna-search{
   width: 90%;
 }

#encabezado-principal #header-container-columnas #header-columna-search #container-span-input{
   width: 100%;
   border-bottom: 1px black solid;

   padding: 0;
   display: flex;
   align-items: center;
}

#encabezado-principal #header-container-columnas #header-columna-search #search{
  width: 100%;
  background: var(--light-color-fondo);
  border: none;
   padding: 15px;
}

#encabezado-principal #header-container-columnas .header-container-columna .header-container-columna-icons a{
  color: black;
}
#encabezado-principal #header-container-columnas .header-container-columna .header-container-columna-icons a:hover{
   color: var(--light-color-fondo);
   text-shadow: 0 0 10px var(--light-color-acento-1), 0 0 20px var(--light-color-acento-1),  0 0 30px var(--light-color-acento-1) ;
 }



#encabezado-principal #header-container-columnas #header-columna-search #search:focus{
   outline: none;
 }









#navegacion-categoria {
   background-color: var(--light-color-fondo);

   
   font-family: 'Nunito';
   display: flex;
   justify-content: space-between;
}

#navegacion-categoria .tab-categoria{
   background: var( --light-color-fondo);
   outline: 1px solid var(--light-color-acento-1);
   color:var(--light-color-acento-3) ;
   text-align: center;
   padding: 2em;
   width: 20%;
   transition: color .5s;
   transition: background .7s;  
}

#navegacion-categoria .tab-categoria:hover {

   background-color: var(--light-color-acento-1);
   color: var(--light-color-fondo);
   font-weight: 800;
   scale: 1.09;
}


/* PRIMER COMMIT*/

#navegacion-categoria a{
   color: var(--dark-color-texto);
   text-decoration: none;
}

/* Estilo de la seccion FILTROS */

#seccion-filtros-container-columnas{
   font-family: 'Nunito';
   background-color: var(--light-color-acento-2);
   display: flex;
   justify-content: space-around;
   padding: 10px;
   color: var(--light-color-fondo);
   
}

.filtro-columna{
   display: flex;
   padding: 20px;
   transition: color 0.5s;
}

.flecha-arriba{
   position: relative;
   top: 5px;
   left: 2.5px;
}

#seccion-filtros-container-columnas-columna-1{

   display: flex;
   flex-direction: column;
   text-align: center;
   font-size: 12px;
   padding: 0;
}

#seccion-filtros-container-columnas-columna-1 h2{

   margin-top: 0;
   margin-bottom: 10px;

}

#seccion-filtros-container-columnas-columna-1 h3{

   margin: 0;
   transition: color 0.5s;
}

#seccion-filtros-container-columnas-columna-1 h3:hover,
#seccion-filtros-container-columnas-columna-2:hover, 
#seccion-filtros-container-columnas-columna-3:hover, 
#seccion-filtros-container-columnas-columna-4:hover,
#seccion-filtros-container-columnas-columna-5:hover{

   cursor: pointer;
   color: white;
}

/*Estilos de las categorias*/

#seccion-categoria {
   background-color: var(--light-color-acento-3);
   font-family: 'Anaheim';
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding: 30px 0px;
   
}

.articulo-categoria {
  
   max-width: 300px;
   max-height: auto;
   border: solid 2px var(--light-color-fondo);
   background-color: var(--light-color-acento-1);
   color: var(--light-color-fondo);
   display: flex;
   flex-direction: column;
   margin: 10px;
   border-radius: 10px;
   text-align: center;
    
}

.articulo-categoria .detalle-articulo{
   padding: 10px;
}

.articulo-categoria .header-articulo p{
/*echo para ver las dimensiones de la caja*/
   outline: rgba(255, 255, 255, 0) 2px solid;
}


.articulo-categoria .detalle-articulo h4 {
   font-family: 'Nunito';
   margin: 0px;
}

.articulo-categoria .detalle-articulo p {
   /*echo para ver las dimensiones de la caja*/
   outline: rgba(255, 255, 255, 0) 2px solid;
   margin: 0px;
}


   /*Estilos footer*/

#footer-principal {
   background-color: var(--light-color-texto);
   color: white;
   font-family: 'Maitree';
   display: flex;
   justify-content: space-around;
   align-items: center;
}

#footer-principal div {
   /*echo para ver las dimensiones de la caja*/
   outline: rgba(255, 255, 255, 0.106) 2px solid;
}

#qr-code {
   width:100px;
   height:100px;
}

