@import url("../_core/css/temas_colores_fuentes.css");

.formulario{

   margin: 50px auto;
   width: 300px;
   border: 2.5px solid black; 

}

.titulo-formulario{
   font-family: "Nunito";
   text-align: center;
   
}

.descripcion{
   font-family: "Anaheim";
   font-size: 11px;
   width: 230px;
   margin: auto;
   text-align: center;
}

.campo-email{

   margin-top: 25px;
   text-align: center;

}

.campo-email input{
   font-family: "Anaheim";
   height: 24px;
   padding: 5px 2px 5px 15px ;
   font-size: 11px;
   width: 204px;
   border-radius: 3px;
   border: 1.3px solid rgb(193, 193, 193);
}

.boton-continuar{
   text-align: center;
   margin-top: 15px;
}

.boton-continuar input{

   font-family: "Anaheim";
   height: 35px;
   font-size: 11px;
   width: 224px;
   border-radius: 3px;
   background-color: var(--light-color-acento-1);
   color: white;
   border: 0;
}

.boton-continuar input:hover{
   background-color: var(--light-color-acento-3);
}

.terminos-politicas{

   font-family: "Anaheim";
   font-size: 11px;
   width: 248px;
   margin: 35px auto;
   text-align: center;

}