@import url("../_core/css/temas_colores_fuentes.css");

*{
   font-family: 'Nunito';
   margin: 0;
   padding: 0px;
   box-sizing: border-box;
}

.invisible{
   display: none;
}

.formulario{

   width: 380px;
   padding: 30px;
   border: 3px solid var(--light-color-acento-2);
   margin: 100px auto;
   background: var(--light-color-fondo);

}

.titulo-formulario{
   text-align: center;
   
}

.descripcion{

   width: 95%;
   margin: 20px auto;
   text-align: center;
}

.campo-email{

   margin-top: 25px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;

}

.campo-email input{
   
   padding: 10px;
   width: 90%;
   border-radius: 3px;
   border: 1px solid var(--light-color-acento-2);
}

.campo-email label{

   color: red;

}

.boton-continuar{
   text-align: center;
   margin-top: 20px;
}

.boton-continuar input{

   padding: 10px;
   width: 90%;
   border-radius: 3px;
   background-color: var(--light-color-acento-1);
   color: white;
   border: 1px solid var(--light-color-acento-2);
   transition: all .2s;
}

.boton-continuar input:hover{
   background: var(--light-color-acento-2);
}

.boton-continuar input:active{
   background: var(--light-color-acento-1);
}

.terminos-politicas{
   width: 90%;
   margin: 25px auto;
   text-align: center;

}

.terminos-politicas a{

   text-decoration: none;
   font-weight: 900;
   color: var(--light-color-acento-1);
   transition: all .2s;
}

.terminos-politicas a:hover{
   text-shadow: 0 0 8px var(--light-color-acento-2);
}