@import url("../_core/css/temas_colores_fuentes.css");

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito';
}

body a{
    text-decoration: none;

}
/**/
#formulario{
    width: 380px;
    padding: 30px;
    border: 3px solid var(--light-color-acento-2);
    margin: 100px auto;
    background: var(--light-color-fondo);
}


/*DIVS DEL FORMULARIO*/
#formulario div {
    margin-bottom: 20px;

}

.form-container-centrado{
    text-align: center;
}



.formulario-container-input{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formulario-container-input-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*EMAIL - CONTRASEÑA Y SUMBIT*/
.formulario-container-input input,
.formulario-container-input-2 input{
    border: 1px solid var(--light-color-acento-2);
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}

/*EMAIL Y CONTRASEÑA*/
.formulario-container-input input{
    margin-bottom: 10px;
}

.formulario-container-input label{
    color: rgb(228, 49, 49);
    padding-bottom: 5px;
}


/* INPUT SUMBIT */
.formulario-container-input-2 input{
    background: var(--light-color-acento-1);
    color: white;
    transition: all .2s;
}


.formulario-container-texto #no-tenes-cuenta{
    padding: 15px;
}

.formulario-container-texto #no-tenes-cuenta a, 
.formulario-container-olvidaste-tu-contraseña #olvidaste-tu-contraseña{
    color: var(--light-color-acento-1);
    font-weight: 900;
    transition: all .2s;
}

.formulario-container-texto #terminos-y-condiciones a{
    color: var(--light-color-acento-1);
    transition: all .2s;
}


/* PSEUDOCLASES */

.formulario-container #olvidaste-tu-contraseña:hover,
.formulario-container #no-tenes-cuenta a:hover,
.formulario-container #terminos-y-condiciones a:hover{

    text-shadow: 0 0 8px var(--light-color-acento-2);
}

/* INPUT SUMBIT */
.formulario-container-input-2 input:hover{
    background: var(--light-color-acento-2);
}

/*.formulario-container-input-2 input:active{
    background: var(--light-color-acento-1);
}
*/


/* CLASES PARA EL JS*/
.submit-desactivado{
    background-color: rgb(170, 155, 155);
    color: rgb(100, 100, 100);
}
